<div class="row">
  <div class="col-md-12">
    <div class="wrap">
      <p class="form-title">Sign In</p>
      <div class="form-wrapper">
        <form ng-submit="submit()" name="form" class="login" novalidate autocomplete="off">

          <input name="username" ng-model="user.username" required type="text" placeholder="Username or Email" ng-minlength="4" ng-maxlength="30" />
          <div error-tooltip data-placement="right" data-target="username" ng-show="form.username.$dirty" ng-messages="form.username.$error">
            <div ng-class="{'active': form.username.$dirty && form.username.$error.required}" ng-message="required">The username/email field is required</div>
            <div ng-class="{'active': form.username.$dirty && form.username.$error.minlength}" ng-message="minlength">Username/email must be at least 4 characters long</div>
            <div ng-class="{'active': form.username.$dirty && form.username.$error.maxlength}" ng-message="maxlength">Username/email must be no more than 30 characters long</div>
          </div>

          <input name="password" ng-model="user.password" required type="password" placeholder="Password" ng-minlength="6" ng-maxlength="30" />
          <div error-tooltip data-placement="right" data-target="password" ng-show="form.password.$dirty" ng-messages="form.password.$error">
            <div ng-class="{'active': form.password.$dirty && form.password.$error.required}" ng-message="required">The password field is required</div>
            <div ng-class="{'active': form.password.$dirty && form.password.$error.minlength}" ng-message="minlength">Password must be at least 6 characters long</div>
            <div ng-class="{'active': form.password.$dirty && form.password.$error.maxlength}" ng-message="maxlength">Password must be no more than 30 characters long</div>
          </div>

          <input ng-disabled="form.$invalid" type="submit" value="Log In" class="btn btn-success btn-sm" />

        </form>

        <div id="reg-div">
          Don't have an account? <a class="pull-right" ui-sref="register">Register</a>
        </div>

      </div>
    </div>
  </div>
</div>