<div class="row">
  <div class="col-md-12">
    <div class="wrap">
      <p class="form-title">Sign In</p>
      <div class="form-wrapper">
        <form ng-submit="submit()" name="form" class="login" novalidate autocomplete="off">

          <input name="username" ng-model="user.username" required type="text" placeholder="Username" ng-minlength="4" ng-maxlength="15" />
          <div error-tooltip data-placement="right" data-target="username" ng-show="form.username.$dirty" ng-messages="form.username.$error">
            <div ng-message="required">The username field is required</div>
            <div ng-message="minlength">Username must be at least 4 characters long</div>
            <div ng-message="maxlength">Username must be no more than 15 characters long</div>
          </div>

          <input name="password" ng-model="user.password" required type="password" placeholder="Password" ng-minlength="6" ng-maxlength="30" />
          <div error-tooltip data-placement="right" data-target="password" ng-show="form.password.$dirty" ng-messages="form.password.$error">
            <div ng-message="required">The password field is required</div>
            <div ng-message="minlength">Password must be at least 6 characters long</div>
            <div ng-message="maxlength">Password must be no more than 30 characters long</div>
          </div>

          <input type="submit" value="Log In" class="btn btn-success btn-sm" />
        </form>
      </div>
    </div>
  </div>
</div>