body {
  /*    background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;*/
  
  background-color: #000;
  padding: 0;
  margin: 0;

  cursor: default;
}

.dark-highway-bg {
  background: url('/images/highway-at-night-14945.jpg') fixed;
  background-size: cover;
}

.lighter-highway-bg {
  background: url('/images/night-highway-lights.jpg') fixed;
  background-size: cover;
}

#wrapper {
  background: rgba(0, 0, 0, 0.25);
}

.guys .wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.guys p.form-title {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.guys form {
  width: 50%;
  margin: 0 auto;
}
.form-wrapper {
  width: 450px;
  margin: 0 auto;
}
.guys form input[type="text"],
.guys form input[type="password"],
.guys form input[type="email"] {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
}
.guys form input[type="submit"] {
  width: 50%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}
.guys form input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}
.guys form label,
.guys form a {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}

#reg-div a {
  transition: color 0.5s ease;
  margin-top: 2px;
  font-size: 13px;
  color: #df691a !important;
}

#reg-div a:hover {
  color: #2ecc71;
}

form.login input[type="submit"] {
  width: 100%;
}
/* mine */
#reg-div {
  width: 50%;
  margin: 0 auto;
}

#is-driver-wrapper {
  min-height: 45px;
}

input.ng-invalid.ng-dirty {
  border-bottom: 1px solid red !important;
  color: red !important;
}

.main-alert {
  max-width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 80px;
  left: 5px;
  right: 5px;
}

.alert-hidden {
  visibility: hidden;
}

#ui-view-container {
  position: relative;
}

th {
  text-transform: uppercase;
}

hr {
  margin-bottom: 10px;
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

#create-trip-btn {
  margin-bottom: 24px;
}

.relative-ctn {
  position: relative;
}

.pagination-wrapper {
  
}

th {
  font-size: 1.2em;
}




/*View animation*/

[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.96, 0.96, 0.96);
  -moz-transform: scale3d(0.96, 0.96, 0.96);
  -o-transform: scale3d(0.96, 0.96, 0.96);
  transform: scale3d(0.96, 0.96, 0.96);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
}